@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cyan-color: #4D96A9;
    --cyan-active: #71C0D4;
    --purple-color: #855FB1;
    --purple-active: #d9b8ff;
    --bckg-color: #fafafa;
    --text-color: #28283D;
    --gray: #87879D;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 500;
    color: var(--gray);
    background: var(--bckg-color);
    text-align: center;
}

ul {
    list-style: none;
}

header {
    margin-bottom: 12.8rem;
    overflow-x: hidden;
}

.logo {
    display: block;
    width: 11.9rem;
    height: 2.8rem;
    margin: 4.8rem auto 5.4rem auto;
}

.header-image-tablet {
    background: url(assets/tablet/image-hero.png);
    background-size: cover;
    width: 41.4rem;
    height: 15.3rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
    left: -2rem;
}

.text-container {
    margin: 6.4rem auto 2.4rem auto;
    max-width: 32.7rem;
}


h1 {
    color: var(--text-color);
    font-size: 4rem;
    line-height: 4.4rem;
    font-weight: 900;
    margin-bottom: 3rem;
}


.btn-container {
    margin-top: 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.btn {
    background: var(--purple-color);
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-weight: 900;
    font-size: 1.6rem;
    line-height: 2.6rem;
    border-radius: 29px;
    transition: background-color 0.2s ease-in;
    padding: 1.6rem 4rem;
    text-decoration: none;
}

.btn:hover {
    background: var(--purple-active)
}

.download {
    background: var(--cyan-color)
}

.download:hover {
    background: var(--cyan-active)
}

.btn span {
    color: #8FE3F9;
}

.middle-line {
    position: relative;
    margin: 0 auto 6.2rem auto;
    z-index: 2;
}

.line {
    width: 1px;
    height: 84px;
    background-color: rgba(135, 135, 157, 0.25);
    position: absolute;
    top: -84px;
    left: 50%;
    transform: translateX(-50%);
}

.number {
    margin: 0 auto;
    width: 5.6rem;
    height: 5.6rem;
    border: .1rem solid rgba(135, 135, 157, 0.25);
    border-radius: 50%;
    line-height: 5.6rem;

    background: var(--bckg-color);
}

main {
    padding: 0 2.4rem;
    margin-bottom: 14.8rem;
}

.image-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.4rem 2.5rem;
    margin-bottom: 5.8rem;
}

.image-list img {
    width: 100%;
    border-radius: .8rem;
}

.overline {
    text-transform: uppercase;
    letter-spacing: .4rem;
    color: var(--cyan-color);
    font-weight: 900;
}

h2 {
    font-size: 3.2rem;
    line-height: 3.6rem;
    font-weight: 900;
    margin: 2.4rem auto;
    color: var(--text-color);
}


footer {
    width: 100%;
    background: #4D96A9;
    position: relative;
    z-index: 1;
    color: var(--bckg-color);
    padding: 8.6rem 0 7.2rem 0;
    text-align: center;
    margin-top: -9.4rem;

}

footer::after {
    content: '';
    background: url(assets/mobile/image-footer.jpg) center/cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.06;
    mix-blend-mode: normal;
}

footer h2 {
    color: var(--bckg-color);

}

footer p {
    max-width: 37.2rem;
    margin: 3rem 2.4rem 4rem 2.4rem;
    font-size: 1.8rem;
}

footer .btn span {
    color: var(--purple-active);
}



/* Media Query  for tables min 768px*/

@media screen and (min-width: 768px) {
    .header-image-tablet {
        width: 82rem;
        height: 30.3rem;
        left: -2.6rem;
    }
    header {
        margin-bottom:  8rem;
    }
    .text-container {
        max-width: 45.7rem;
        margin: 7.2rem auto 8rem auto;
    }

    .btn-container {
        flex-direction: row;
        gap: 1.6rem;
        justify-content: center;
    }

    .image-list {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.1rem;
        margin: 0 4rem  4.8rem 4rem;
    }

    main p, main h2 {
        margin-left: 9.7rem;
        margin-right: 9.7rem;
    }

    main h2, footer h2{
        font-size: 4rem;
        line-height: 4.4rem;
        width: 44.5rem;
        margin-left: auto;
        margin-right: auto;
      
    }
    footer p {
        margin-left: auto ;
        margin-right: auto ;
        max-width: none;
        width: 57.3rem;
        margin-bottom: 5.6rem;
    }

    footer {
        padding: 9.2rem auto 6.6rem auto;
    }
    
}

@media screen and (min-width: 1440px) {
    body {
        font-size: 1.8rem;
    }

    h1{
        font-size: 6.4rem;
        line-height: 6.4rem;
    }

    .header-image-tablet{
        display: none;
    }

    .header-image-left, .header-image-right{
        position: absolute;
        width: 39.4rem;
        height: 30.3rem;
    }

    .header-image-left{
        background: url(assets/desktop/image-hero-left.png) no-repeat;  
        left: -3.2rem;
        top: 16.9rem;
    }

    .header-image-right{
        background: url(assets/desktop/image-hero-right.png) no-repeat;
        right: 0;
        top: 22rem;
    }

    .text-container {
        width: 54rem;
    }

    header {
        margin-bottom: 20.1rem;
    }

    main p, main h2{
        width: 54rem;
        margin: 0 auto
    }

    main h2{
        margin: 1.6rem auto 3rem auto
    }

    .desktop-layout {
    display: flex;
    width: 110rem;
    justify-content: space-between;
    align-self: flex-start;
    margin: 0 auto;
    }

    footer p{
        width: 35rem;
        text-align: left;
    }

    footer .btn {
        align-self: center;
    }


}